body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// from https://codepen.io/P1N2O/pen/pyBNzX
body {
  background: linear-gradient(-45deg, #10258a, #4DB2EA, #380b93);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

// hide default cruft like nav, tabs, etc.
.default-cruft,
[default-cruft],
.b-tabs {
  display: none;
}

// override modal styles
.modal-background,
.modal-card-head,
.modal-card-foot,
.modal.is-full-screen>.animation-content,
.modal.is-full-screen>.animation-content>.modal-card,
.modal-card-body {
  border: 0;
  background: transparent;
}
