body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// hide default cruft like nav, tabs, etc.
.default-cruft,
[default-cruft],
.b-tabs {
  display: none;
}

.spinningwheel-container {
  border: 1px solid #faa;
  margin-top: 50vh;
}